@charset "UTF-8";

.btn-primary
{
	color:#fff;
	background-color:#05ffdc;
	background-image:linear-gradient(-180deg, #05ffdc 0%, #05ffdc 90%)
}
.btn-block
{
	display:block;
	width:100%;
	text-align:center
}
.btn
{
	position:relative;
	display:inline-block;
	padding:6px 12px;
	font-size:14px;
	font-weight:600;
	line-height:20px;
	white-space:nowrap;
	vertical-align:middle;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	background-repeat:repeat-x;
	background-position:-1px -1px;
	background-size:110% 110%;
	border:1px solid rgba(27,31,35,0.2);
	border-radius:0.25em;
	-webkit-appearance:none;
	-moz-appearance:none;appearance:none
}
.auth-form-header
{
	padding:10px 20px;
	margin:0;
	color:#fff;
	text-shadow:0 -1px 0 rgba(0,0,0,0.3);
	background-color:#829aa8;
	border:1px solid #768995;
	border-radius:3px 3px 0 0
}
.auth-form-header h1
{
	font-size:16px
}
.loginFrame
{
	border:2px solid blue;
	text-align:center;
	width:300px;
	height:300px;
}
.auth-form-body
{
	padding:20px;
	font-size:14px;
	background-color:#fff;
	border:1px solid #d8dee2;
	border-top:0;border-radius:0 0 3px 3px
}
.auth-form-body .input-block
{
	margin-top:5px;
	margin-bottom:15px
}
.auth-form-body p
{
	margin:10px 0
}
.auth-form-body ol,.auth-form-body ul
{
	padding-left:inherit;
	margin-bottom:inherit
}








	