@charset "UTF-8";

*{
	margin:0;
	padding:0;
}

.nav{
	background: #4a90e2;
	height:100%;
	width:100%;
	padding:0px;
	border-right:1px solid black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
	border:1px solid black;
	border-width:1px 0px 0px 0px;
    text-align:center;
    height:50px;
	line-height: 50px;
}

li a {
    display: block;
    color:#fff;
    text-decoration: none;
	font-size:15px;
}

li a:hover {
    text-decoration: none;
    opacity:.6;
    color: #000;
    font-size:18px;
    height:50px;
}

.nav_photo{
	text-align:center;
	padding-top: 50px;
	padding-bottom: 20px;
}
.nav_name{
	text-align:center;
	color:#000;
	font-size:20px;
}


.div_nav{
    width: 250px;
    border-radius: 5px;
    position: fixed;
    height: 100%;
}
.div_main{
    height: 100%;
    min-height: 800px;
    margin-top:56px;
	margin-left:250px;
}

