@charset "UTF-8";

.nav{
	background:black;
	height:100%;
	width:100%;
	padding:0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
	height:10%;
}

li a {
    display: block;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    text-align:center;
    height:50px;
    padding:15px 0px 25px 0px;
}

li a:hover {
    background-color: #555;
    color: white;
    height:50px;
}

.nav_photo{
	text-align:center;
	padding-top: 50px;
	padding-bottom: 20px;
}
.nav_name{
	text-align:center;
	color:white;
	font-size:20px;
}


.div_nav{
	width:20%;
	float:left;
}
.div_main{
	width:80%;
	float:right;
}

